@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  /* height: 100%; */
  background-color: black;
  margin: 0;
  font-family: 'Libre Baskerville', serif, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
